@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

ul {
    list-style: none;
    background: #8c52ff;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #8c52ff;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #6d30e9;
}

ul li:hover ul.dropdown {
    display: block;
}